<%- include ('./layouts/header.ejs') %>

<% if (producto) {%>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header">Editar Producto</div>
            <div class="card-body">
                <form action="/update_producto" method="POST">
                    <input id="id" name="id" value="<%= producto.id%>" hidden>
                    <div class="mb-3">
                        <label for="producto" class="form-label">Producto</label>
                        <input type="text" class="form-control" id="producto" name="producto" value="<%= producto.producto %>" tabindex="1">
                    </div>
                    <div class="mb-3">
                        <label for="unidad" class="form-label">Unidad</label>
                        <input type="text" class="form-control" id="unidad" name="unidad" value="<%= unidad.unidad %>" tabindex="1">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" value="<%= descripcion.descripcion %>" tabindex="1">
                    </div>
                    <div class="mb-3">
                        <label for="costo" class="form-label">Costo</label>
                        <input type="text" class="form-control" id="costo" name="costo" value="<%= costo.costo %>" tabindex="1">
                    </div>
                    <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <% } %>
        
 
        
<%- include ('./layouts/footer.ejs') %>