<%- include ('layouts/header.ejs') %>


        <a href="/create" class="btn btn-outline-primary mt-4"><i class="fas fa-user-plus"></i></a>
        <table id="clients" class="table table-bordered table-striped text-center mt-4">
            <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">CLIENTE</th>
                    <th scope="col">DIRECCIÓN</th>
                    <th scope="col">NOMBRE CONTACTO</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((customer)=> { %>
                    <tr>
                        <td><%= customer.id  %></td>
                        <td><%= customer.cliente  %></td>
                        <td><%= customer.direccion  %></td>
                        <td><%= customer.nombre_contacto  %></td>
                        <td><%= customer.telefono  %></td>
                        <td>
                            <a class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
 
        
<%- include ('layouts/footer.ejs') %>